body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    background-image: url("../slike/background.jpg");
    flex: 1;
    position:absolute;
    font-family: 'Inter', sans-serif;
}
.top{
    width: 100%;
    height: 45px;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: #ffffff;
}
.top-picture-image{
    width: 80%;
    height: 80%;
}
.top-picture{
    padding-top: 0.5%;
    padding-left: 1%;
}

.top-donate{
    padding-top: 12px;
    font-size: 100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: #ffffff;
    text-decoration: none;
}
.top-donate:hover{
    background-color: #ff7700;
    cursor:pointer;
}
.top-link{
    color: #ffffff;
    text-decoration: none;
}
.top-right{
    display: flex;
    position: absolute;
    right: 0%;
    margin-right: 2%;
    margin-top: 0.5%;  
}
.top-login{
    padding-right: 20%;
}
.top-login-button{
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    outline: 0px;
    border: none;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}
.top-login-button:hover{
    background-color: #bdbdbd;
    color: #000000;
}
.top-signup{
    padding-right: 10%;
    width: 100px;
}
.top-signup-button{
    background-color: #ff7700;
    white-space: nowrap;
    color: #000000;
    border-radius: 10px;
    border: none;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}
.top-signup-button:hover{
    background-color: #ff7700cb;
}
.middle{
    width: 100%;
    height: 85%;
}
.field{
    top: 40%;
    left: 50%;
    width: 40em;
    height: 40em;
    margin-top: -16em;
    margin-left: -20em;
    border-style: solid;
    border-color: #ff7700;
    background-color: #ffffff;
    position: fixed;
    border-radius: 18px;
    opacity: 0.95;
}
.field-top{
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}
.field-middle{
    padding-top: 5%;
    padding-left: 15%;
}
.field-middle-row1{
    display: flex;
    margin-bottom: 4%;
}
.field-middle-row1-name{
    
}
.field-middle-row1-name-input{
    text-transform: capitalize;
    width: 100%;
    height: 80%;
    border-radius: 9px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    transition: 0.5s;
    outline: 0px;
}
.field-middle-row1-lastname{
    padding-left: 20%;
}
.field-middle-row1-lastname-input{
    text-transform: capitalize;
    width: 100%;
    height: 80%;
    border-radius: 9px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    transition: 0.5s;
    outline: 0px;
}
.field-middle-row2{
    display: flex;
    margin-bottom: 4%;
}
.field-middle-row2-username{
    
}
.field-middle-row2-username-input{
    width: 100%;
    height: 80%;
    border-radius: 9px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    transition: 0.5s;
    outline: 0px;
}
.field-middle-row2-email{
    padding-left: 20%;

}
.field-middle-row2-email-input{
    width: 100%;
    height: 80%;
    border-radius: 9px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    transition: 0.5s;
    outline: 0px;
}
.field-middle-row3{
    display: flex;
    margin-bottom: 4%;
}
.field-middle-row3-number{
    
}
.field-middle-row3-number-input{
    width: 100%;
    height: 80%;
    border-radius: 9px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    transition: 0.5s;
    outline: 0px;
}
.field-middle-row3-address{
    padding-left: 20%;
}
.field-middle-row3-address-input{
    text-transform: capitalize;
    width: 100%;
    height: 80%;
    border-radius: 9px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    transition: 0.5s;
    outline: 0px;
}
.field-middle-row4{
    display: flex;
    margin-bottom: 10%;
}
.field-middle-row4-password{
    
}
.field-middle-row4-password-input{
    width: 100%;
    height: 80%;
    border-radius: 9px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    transition: 0.5s;
    outline: 0px;
}
.field-middle-row4-passwordconf{
    padding-left: 20%;
}
.field-middle-row4-passwordconf-input{
    width: 100%;
    height: 80%;
    border-radius: 9px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    transition: 0.5s;
    outline: 0px;
}
.field-middle-licence{
    margin-bottom: 10%;
}
.field-middle-licence-checkbox{
    accent-color: #ff7700;
}
.field-middle-licence-link{
    text-decoration: none;
    color: #ff7700;
}
.field-middle-buttons{
    display: flex;
}
.field-middle-buttons-return{
    height: 50px;
    width: 100%;
}
.button-return{
    border-radius: 5px;
    width:  70%;
    height: 100%;
    border: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
}
.button-return:hover{
    cursor:pointer;
    background-color: #bdbdbd;
}
.field-middle-buttons-register{
    height: 50px;
    width: 100%;
}
.button-regi{
    border-radius: 5px;
    width: 70%;
    height: 100%;
    border: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #ff7700;
    color: #000000;
}
.button-regi:hover{
    cursor:pointer;
    background-color: #ff7700cb;
}
.foot{
    width: 100%;
    height: 89px;
    background-color: rgb(0, 0, 0);
}

.copyright {
    text-align: center;
    padding-top: 2%;
    color: #ffffff;
}

.copyright-text {
    text-decoration: none;
    color: #ffffff;
}

j{
    color: red;
}

input:focus{
    border: 2px solid #ff7700;
}
/* barva #ff7700

*\