body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
    background-image: url("../slike/donate.jpeg");
    font-family: 'Inter', sans-serif;
    flex: 1;
    position: absolute;
}
.top{
    width: 100%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: #ffffff;
}
.top-picture-image {
    width: 80%;
    height: 80%;
}

.top-picture {
    padding-top: 0.5%;
    padding-left: 1%;
}

.top-donate {
    padding-top: 0.6%;
    border-width: 1px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: #ffffff;
    text-decoration: none;
}

.top-donate:hover {
    background-color: #ff7700;
    cursor: pointer;
}

.top-link {
    color: #ffffff;
    text-decoration: none;
}
.top-right {
    display: flex;
    position: absolute;
    right: 0px;
    margin-right: 2%;
    margin-top: 8px;
}

.top-login {
    padding-right: 20%;
}

.top-login-button {
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    outline: 0;
    border: none;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.top-login-button:hover {
    background-color: #bdbdbd;
    color: #000000;
}

.top-signup {
    padding-right: 10%;
    width: 100px;
}
.top-signup-button {
    background-color: #ff7700;
    color: #000000;
    border-radius: 10px;
    border: none;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.top-signup-button:hover {
    background-color: #ff7700cb;
}

.middle{
    width: 100%;
    height: 85%;
}
.field {
    top: 40%;
    left: 50%;
    width: 45em;
    height: 40em;
    margin-top: -16em;
    margin-left: -24em;
    border-style: solid;
    border-color: #ff7700;
    background-color: #ffffff;
    position: fixed;
    border-radius: 18px;
    opacity: 0.9;
}
.field-top{
    font-size: 25px;
    margin-left: 8%;
    margin-top: 5%;
    display: flex;
}
.field-middle{
    margin-top: 40px;
    margin-left: 30%;
}
.field-middle-name{

}
.field-middle-name-input{
    width: 50%;
    height: 40px;
    border-radius: 18px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition: 0.5s;
    outline: 0;
    font-size: 15px;
}
.field-middle-name-input:focus{
    border: 3px solid #ff7700;
}
.field-middle-surname{
    margin-top: 5%;
}
.field-middle-surname-input{
    width: 50%;
    height: 40px;
    border-radius: 18px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition: 0.5s;
    outline: 0;
    font-size: 15px;

}
.field-middle-surname-input:focus{
    border: 3px solid #ff7700;
}

.field-middle-email{
    margin-top: 5%;
}

.field-middle-email-input{
    width: 50%;
    height: 40px;
    border-radius: 18px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition: 0.5s;
    outline: 0;
    font-size: 15px;

}

.field-middle-email-input:focus{
    border: 3px solid #ff7700;
}
.field-donation{
    margin-top: 40px;
    margin-left: 20%;
}
.field-donation-text{
    font-weight: 600;
}
.donation-options{
    margin-top: 1%;
    display: flex;
}
#radio1{
    accent-color: #ff7700;
}
#radio2{
    margin-left: 20px;
    accent-color: #ff7700;
}
#radio3{
    margin-left: 20px;
    accent-color: #ff7700;
}
#radio4{
    margin-left: 20px;
    accent-color: #ff7700;
}
#radio5{
    margin-left: 20px;
    accent-color: #ff7700;
}
#radio6{
    margin-left: 20px;
    accent-color: #ff7700;
}
.costum-donation{
    margin-top: 2%;
    margin-left: 55%;
}
#amount{
    width: 30%;
    height: 5%;
    font-size: 15px;
    border-radius: 18px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition: 0.5s;
    outline: 0;
    padding-left: 3%;
}
#amount:focus{
    border: 3px solid #ff7700;
}
.field-middle-bottom{
    width: 100%;
    height: 10%;
    margin-top: 3%;
    margin-left: 25%;
    display: flex;
}
.button-paypal{
    border-radius: 5px;
    width: 20%;
    height: 100%;
    border: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #FCBB32;
    color: #000000;
}
.button-paypal:hover{
    cursor: pointer;
}
.img-paypal{
    width: 40%;
}
.button-creditcard{
    margin-left: 10%;
    border-radius: 5px;
    width: 20%;
    height: 100%;
    border: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #ff7700;
    color: #000000;
}
.button-creditcard:hover{
    cursor: pointer;
}
.foot{
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 0);
}
.copyright {
    text-align: center;
    padding-top: 2%;
    color: #ffffff;
}

.copyright-text {
    text-decoration: none;
    color: #ffffff;
}